body {
    font-family: Arial;
    background: #d9e6ea;
    text-align: center;
}

header {
    background: #7aa6ac;
    padding: 20px;
    color: white;
}

.content {
    padding: 40px;
}

blockquote {
    margin-top: 20px;
    font-style: italic;
    color: #555;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #2f5d62;
}